<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timbre">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/timbre"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".addJoin" />
        <activity android:name=".volumeVideo" />
        <activity android:name=".gif" />
        <activity android:name=".resize" />
        <activity android:name=".ekstrak" />
        <activity android:name=".mute" />
        <activity android:name=".vtaVideo" />
        <activity android:name=".watermark" />
        <activity android:name=".speedVideo" />
        <activity android:name=".splitVideo" />
        <activity android:name=".omitVideo" />
        <activity android:name=".convertVideo" />
        <activity android:name=".cutVideo" />
        <activity android:name=".joinVideo" />
        <activity android:name=".volumeAudio" />
        <activity android:name=".reverse" />
        <activity android:name=".speedAudio" />
        <activity android:name=".bitrate" />
        <activity android:name=".splitAudio" />
        <activity android:name=".omitAudio" />
        <activity android:name=".convertAudio" />
        <activity android:name=".JoinAudio" />
        <activity android:name=".cutAudio" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>